/* Master LESS file */
.content{
    padding-top: 60px;
}
.hero-column{
    width: 30%;


    &:first-child{
        margin-right: 40px;
    }

    &:last-child{
        margin-left: 40px;
    }
}

.hero-container{
    padding: 0;
    img{
        max-width: 100%;
        width: 100%;
        border: 1px solid #fff;
    }
}