/* Master LESS file */
body{
    background: #333;
}

.content{
    padding-top: 60px;
}
.hero-column{
    width: 30%;
    margin: 0 20px;


    &:first-child{
        margin-left: 0;
    }

    &:last-child{
        margin-right: 0;
    }
}

.hero-container{
    padding: 0;
    img{
        max-width: 100%;
        width: 100%;
        border: 1px solid #fff;
        cursor: pointer;
    }
}

.selected-hero, .combos, .counters{
    height: 71px;
    text-align: center;

    img{
        border: 1px solid #fff;
    }
}
